bsa_conflict_viewer/__pycache__/
CleanUp/
BSA_Browser/
experiments/
**/__pycache__/
*.pyc
*.pyo
*.pyd

modorganizer/
modorganizer-archive/
modorganizer-bsa_conflict_viewer/
modorganizer-bsa_extractor/
modorganizer-bsatk/
modorganizer-python_plugins/
modorganizer-uibase/
